.about-container {
  width: 100%;
  height: 100%;
}
.about-container .about-us {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  width: 100%;
}
.about-us .about {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  flex-direction: column;
}
.about h3 {
  font-size: 3.5rem;
  font-weight: 800;
  color: #222;
}
.about p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #222;
  line-height: 2rem;
}
