.contact-container {
  width: 100%;
  text-align: center;
}
.contact-form {
  width: 100%;
}
.contact-form h1 {
  text-transform: none;
  font-size: 3rem;
  font-weight: 800;
  color: #222;
  line-height: 3rem;
}
form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
form input,
textarea {
  margin: 0 auto;
  width: 50%;
  border: 0.1rem solid #222;
  border-radius: 0.5rem;
  height: 5rem;
  padding-left: 0.7rem;
  font-weight: 400;
  color: #222;
}
textarea {
  height: 18rem;
  padding-top: 0.7rem;
}
form input:is(:hover, :focus),
textarea:is(:hover, :focus) {
  border: 0.2rem solid #01959a;
}
::placeholder {
  font-weight: 600;
}
input:last-child {
  background-color: azure;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #222;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
input:last-child:hover {
  transform: scale(0.9);
  background-color: #01959a;
  color: #fff;
}

@media (max-width: 991px) {
  form input,
  textarea {
    width: 65%;
  }
}
@media (max-width: 768px) {
  form input,
  textarea {
    width: 75%;
  }
}
@media (max-width: 450px) {
  form input,
  textarea {
    width: 95%;
  }
}
