.hero-container {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-container .image img,
.hero-container .image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.hero-text {
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
}
.hero-text h1 {
  font-size: 5rem;
  color: #fff;
  font-weight: 800;
  line-height: 6.5rem;
  --webkit-background-clip: text;
  --webkit-text-fill-color: tranparent;
}
.hero-text p {
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem 0.2rem 0;
  margin-bottom: 2rem;
}
.hero-text button.hero-btn {
  font-size: 1.5rem;
  background-color: #fff;
  color: #222;
  font-weight: bolder;
  letter-spacing: 0.3rem;
  padding: 1.5rem 2rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.hero-text button:hover {
  transform: rotate(-10deg);
}
