.trip-desc {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
.trip-desc .trip-one {
  flex: 1 1 30rem;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  padding: 1rem;
}
.trip-one {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
}
.trip-one .trip-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.trip-one .trip-image img {
  width: 100%;
  height: 22rem;
  border-radius: 0.5rem;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.trip-one:hover .trip-image img {
  transform: scale(1.3);
}
.trip-text {
  text-align: left;
}
.trip-one .trip-text h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #222;
}
.trip-one .trip-text p {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #222;
  line-height: 2.2rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

@media (max-width: 450px) {
  .trip-one .trip-image img {
    height: 30rem;
  }
}
